<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
	<appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	      <fileNamePattern>${LOG_PATH}/${LOG_FILE}_%i.log</fileNamePattern>
	      <minIndex>1</minIndex>
	      <maxIndex>10</maxIndex>
	    </rollingPolicy>
	
	    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	      <maxFileSize>1MB</maxFileSize>
	    </triggeringPolicy>
	    
	    <encoder>
	        <pattern>${FILE_LOG_PATTERN}</pattern>
	    </encoder>
	    
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
	
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache" level="INFO" />
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />
	<logger name="com.owu.geekhub" level="DEBUG" />
	<logger name="com.owu.geekhub" level="TRACE"/>
	<logger name="org.springframework.web.client" level="trace"/>
	<logger name="org.apache.http" level="trace"/>
	
	<root level="INFO">
        <appender-ref ref="ROLLIN" />
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>
