nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: blanchedalmond;
    display: block;
    float: left;
    margin-left: 25px;
    font-size: 12pt;
}
a:hover{
    text-decoration:none;
}
body{
    background-color: gainsboro;
}
footer{
    background-color: bisque ;
    height: 10%;//
}
.logo-orange {
    background: orange;
    border-radius: 5px;
    padding: 0px 5px;
}
.menu-list {
    font-size: 10pt;
}