<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>[[${loggedUser.firstName}]] [[${loggedUser.lastName}]] - GeekHub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" type="text/css">
    <script src="/js/userSearch.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark rounded-0" onresize="navbarOnResizeFunc(event)">
    <div class="container-fluid">
        <!-- Brand -->
        <div class="navbar-header mx-auto d-sm-flex d-block flex-sm-nowrap">

            <div class="row">
                <div class="col-xs-7">
                    <a th:href="'id' + ${loggedUser.id}" class="navbar-brand">
                        <span style="color: white"><b>Geek </b></span>
                        <span style="color: black" class="logo-orange"><b>hub</b></span>
                    </a>
                </div>
                <div class=" col-xs-5 ">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Toggler/collapsibe Button -->
            </div>

        </div>


        <!-- Collapsible content -->
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <!--<a href="#" class="navbar-item">url</a>-->
            <div class="d-flex flex-row">
                <div class="p-2">
                    <ul class="navbar-nav ml-5px">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/friends">Friends</a>
                        </li>
                        <form class="form-inline my-2 my-md-0 ml-auto search-input">
                            <input oninput="searchUser(event)" id="userNameSurname" class="form-control search-input"
                                   type="text" placeholder="Search" aria-label="Search">
                            <div class="top-50">
                                <div id="userSearchResultList" class="list-group"></div>
                            </div>
                        </form>
                    </ul>
                </div>
                <div class="ml-auto p-2">
                    <ul class="navbar-nav list-inline mr-5px">
                        <li>
                            <a class="nav-link" th:href="@{/messages} ">
                                1 <i class="fa fa-envelope mr-5px"></i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" th:href="@{/friends}">
                                5 <i class="fas fa-user mr-5px"></i>
                            </a>
                        </li>
                        <li class="nav-link " style="padding: 0">
                            <a class="nav-link dropdown-toggle" id="navbarUserDropdownMenuBtn" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true" style="padding: 0; cursor: pointer">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                     class="rounded-circle"
                                     height="40px" alt="avatar image">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarUserDropdownMenuBtn"
                                 style="margin-right: 10px">
                                <h6 class="dropdown-header">[[${loggedUser.firstName}]] [[${loggedUser.lastName}]]</h6>
                                <!--<a class="dropdown-item" href="#"><i class="fas fa-bell"></i> Action</a>-->
                                <!--<a class="dropdown-item" href="#"><i class="far fa-star"></i> Another action</a>-->
                                <a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--navbar-->

<!--content-->
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto" style="background: aquamarine;">
            <h5 class="col-md-4">[[${userPage.firstName}]] [[${userPage.lastName}]]</h5>
            <!--th:action="@{'/verify/id{id}'(id=${userId})}"-->
            <!--<h5 class="col-md-4">Sviatoslav Khrystyna</h5>-->
            <div th:if="${!areFriends}">
                <div th:if="${userPage.id} != ${loggedUser.id}">
                    <a class="btn btn-primary" id="btn-send-friend-request">
                        <!--th:href="@{'/friend-request-id{friendId}-from-id{userId}'(userId = ${loggedUser.id}, friendId = ${userPage.id})}">-->
                        <input type="hidden" th:value="${userPage.id}" id="friend-requested-id">
                        <input type="hidden" th:value="${loggedUser.id}" id="user-requesting-id">
                        <p>Send friend request</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto" style="background: aquamarine;">

        </div>
    </div>
</div>
</body>
</html>
<script src="/js/friends.js"></script>
