body {
    background: #9a9da0;
}

a.deco-none {
    color:#000000 !important;
    text-decoration:none;

}

.logo-orange {
    background: orange;
    border-radius: 5px;
    padding: 0px 5px;
}
.menu-list {
    font-size: 10pt;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search-input {
    color: white;
    border-radius: 0;
    background: none;
    border-color: rgba(255,0,0,0);
    border-bottom-color: darkgray;
}
.search-input:focus {
    color: white;
    border-radius: 0;
    background: none;
    border-color: rgba(255,0,0,0);
    border-bottom-color: darkgray;
}
.search-btn {
    background: none;
    border-color: #9a9da0;
    color: #9a9da0;
}
.search-btn:hover {
    background-color: #9a9da0;
    color: black;
}
.search-btn:focus {
    border-color: #e0e2e3;
    background-color: #e0e2e3;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-toggle::after {
    display:none;
}

a:hover {
    cursor: pointer;
}
.color-aliceblue{
    color: aliceblue;
}


.fixed-size{
    min-width: 300px;
}
.mw900{
    min-width: 900px;
}

.placeholderRed::-webkit-input-placeholder {
    color:    red;
}
.list-style-none{
    list-style-type: none;
}
.mr-5px{
    margin-right: 5px;
}
.ml-5px{
    margin-left: 5px;
}
.top-50{
    /*top: 50px;*/
    z-index: 9999;
}
.color-red{
    color: red;
}


