<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Authentication</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" type="text/css" />
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary">
        <li><a href="#">Geekhub</a></li>
        <li><a href="#">Мій профіль</a></li>
        <li><a href="#">Налаштування</a></li>
    </nav>
</header>
<div th:if="${param.error}">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/auth}" method="POST">
    <div><label>Email : <br><input type="text" name="username" placeholder="email"></label></div>
    <div><label>Password : <br><input type="password" name="password" placeholder="password"></label></div>
    <div><input type="submit" value="Sign in"></div>
</form>
<div class="content">
    <div class="register">
        <form name="register" method="POST" th:action="@{/registerNewUser}">
            <p><b>First name</b></p>
            <input type="text" size="20" name="firstName" placeholder="Ім'я">
            <p><b>Last name</b></p>
            <input type="text" size="20" name="lastName" placeholder="Прізвище">
            <p><b>Пошта</b></p>
            <input type="text" size="20" name="username" placeholder="email">
            <p><b>Пароль</b></p>
            <input type="password" size="20" name="password" placeholder="">
            <p><b>Cтать</b></p>
            <input type="radio" name="gender" value="MALE" placeholder="sex" checked="checked"> Чоловіча
            <input type="radio" name="gender" value="FEMALE" placeholder="sex"> Жіноча
            <p><b>Дата народження: </b></p>
            <input type="text" name="birth-date" id="date" placeholder="dd/mm/yyyy">
            <p>
                <br />
                <input type="submit" name="" placeholder="">
            </p>

        </form>
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
        </div>

    </div>
</div>
<footer></footer>
<script src="../static/script.js"></script>
</body>
</html>