<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<script src="../static/script.js"></script>
<header>
    <nav class="navbar navbar-dark bg-primary">
        <li><a href="#">Geekhub</a></li>
        <li><a href="#">Мій профіль</a></li>
        <li><a href="#">Налаштування</a></li>
    </nav>
</header>
<div class="content">
    <div class="register">
        <form name="register" method="post"  th:action="@{/registerNewUser}"  >
            <p><b>Імя</b></p>
            <input type="text" size="20" name="firstName" placeholder="Ім'я" required >
            <p><b>Прізвище</b></p>
            <input type="text" size="20" name="lastName" placeholder="Прізвище" required>
            <p><b>Пошта</b></p>
            <input type="text" size="20" name="username" placeholder="email" required>
            <p><b>Пароль</b></p>
            <input type="password" size="20" name="password" placeholder="">
            <!--<p><b>Cтать</b></p>-->
            <!--<input type="radio" name="sex" placeholder="sex"> Чоловіча-->
            <!--<input type="radio" name="sex" placeholder="sex"> Жіноча-->
            <!--<p><b>Країна</b></p>-->
            <!--<input type="text" size="20" name="nickname" placeholder="">-->
            <!--<p><b>Дата народження</b></p>-->
            <!--<p>Date: <span th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"></span></p>-->
            <!--<select size="1" name="Birth_day">-->
                <!--<option value="0" selected>День</option>-->
                <!--<option value="1" placeholder="1">1</option>-->
                <!--<option value="2" placeholder="2">2</option>-->
            <!--</select >-->
            <!--<select size="1" name="Birth_mounth">-->
            <!--<option value="0" selected>Місяць</option>-->
            <!--<option value="1" placeholder="1">1</option>-->
            <!--<option value="2" placeholder="2">2</option>-->

        <!--</select><select size="1" name="Birth_year">-->
            <!--<option value="0" selected>Рік</option>-->
            <!--<option value="1900" placeholder="1900">1900</option>-->
            <!--<option value="1901" placeholder="1901">1901</option>-->
        <!--</select>-->
            <p>
            <br />
                <input type="submit" name="" placeholder="">
            </p>

        </form>

    </div>
</div>
<footer></footer>

<script>
    function day(){
        n=0;
        var i;
        for(i=0;i<=31; i++ )
        document.getElementsByName("Birth_day").setAttribute("value",n);
    }
    function mounth(){
        n=0;
        for( i=0;i<=12; i++ )
        document.getElementsByName("Birth_day").setAttribute("value",n);
    }
    function year(){
        n=1900;
        for(  i=0;i<=2018; i++ )
        document.getElementsByName("Birth_day").setAttribute("value",n);
    }




</script>
</body>
</html>