<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Verification</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <form th:action="@{'/verify/id{id}'(id=${userId})}" method="POST">
        <input type="number" name="activationKey" placeholder="00000" required="required">
        <input type="submit" name="" placeholder="">
    </form>
    <form th:action="@{'/verify/sendCodeAgainFor/id{id}'(id=${userId})}" method="POST">
        <button type="submit">Send code again</button>
    </form >
</body>
</html>