<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Forgot your password</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" type="text/css">
    <script src="/js/validation.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Brand -->
        <a href="#" class="navbar-brand">
            <span style="color: white"><b>Geek </b></span>
            <span style="color: black" class="logo-orange"><b>hub</b></span>
        </a>
    </div>
</nav>

<div class="container mx-auto border border-warning rounded text-center col-md-6"
     style="margin: 10px; padding: 5px; background: #cccccc">
    <h2><b>Login verification</b></h2>
    <!--<p class="text-left">In order to verify you, we will send a code to your email</p>-->
    <!--<p class="text-left">Enter your email</p>-->
    <form th:action="@{'/passwordRecovery'}" method="POST">
        <!--<input type="text" aria-label="0" class="form-control rounded-left" placeholder="" name="email" required="required"-->
        <!--aria-describedby="button-addon2" title="your email"  style="font-size: 20px; border-color: white; ">-->
        <!--<div class="input-group-append rounded-right">-->
        <!--<input type="submit" class="btn btn-warning">-->
        <!--</div>-->

        <div class="form-group row">
            <label class="col-sm-8 col-md-8 offset-sm-2 offset-md-2 col-form-label">In order to verify you, we will send a code to your
                email</label>
        </div>
        <div class="form-group row">
            <label for="mail" class="col-sm-3 col-md-3 col-form-label">Enter your email</label>
            <div class="col-sm-8 col-md-6 col-centered">
                <input id="mail" type="text" aria-label="0" class="form-control rounded-left" placeholder="email"
                       name="email" required="required" title="your email">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 col-md-2 offset-sm-5 offset-md-5">
                <button type="submit" onclick="validateSingleEmail(event)" class="btn btn-warning btn-primary">Send!</button>
            </div>
        </div>
    </form>

</div>
<!--<form th:action="@{'/verify/sendCodeAgainFor/id{id}'(id=${userId})}" method="POST">-->
<!--<button type="submit" >Send code again</button>-->
<!--</form>-->
</body>
</html>